<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="http://127.0.0.1:8000/" aria-label="Product">

        <img src="https://cs8.pikabu.ru/images/big_size_comm/2016-03_5/1458912097163946994.jpg" width="75" height="75" align="Product" >
    </a>
    <a class="py-2 d-none d-md-inline-block" href="site_info">О сайте</a>
    <a class="py-2 d-none d-md-inline-block" href="net">Список оборудования</a>
    <a class="py-2 d-none d-md-inline-block" href="about">О нас</a>
    <a class="py-2 d-none d-md-inline-block" href="contacts">Контакты</a>
  </div>
</nav>
{% block description %} {% endblock %}
</body>
</html>