<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Контакты</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <p3>Разработчик: Сидоренко Денис</p3>
    <br>
    <p3>Адрес электронной почты: fpv.airplane.barnaul@gmail.com</p3>
    <br>
    <p3>Телефон: +79500359766</p3>
    <br>
    <a href="https://github.com/denissidorenko1">Гитхаб</a>
<div class="col-md-5 p-lg-5 mx-auto my-5">
        <a class="btn btn-outline-secondary" href="http://127.0.0.1:8000/">На главную</a>
  </div>
</body>
</html>