<!doctype html>
<html lang="ru">
<link>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=0.5, minimum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h1 class="my-0 mr-md-auto font-weight-normal">Учет конфигурации сетевого оборудования сети предприятия</h1>
        <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="site_info">Site info</a>
    <a class="p-2 text-dark" href="about">About</a>
    <a class="p-2 text-dark" href="net">Equipment Tables</a>
    <a class="p-2 text-dark" href="contacts">Contacts</a>
    </nav>


</div>
</body>
</html>