<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список использованного оборудования</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <p3>На данный момент список в разработке</p3>
<div class="col-md-5 p-lg-5 mx-auto my-5">
        <a class="btn btn-outline-secondary" href="http://127.0.0.1:8000/">На главную</a>
  </div>
</body>
</html>