{% extends 'mainpage/base.html' %}
{% load i18n %}
{% block description %}
    <body>
        {% if tables %}
            {% for elements in tables %}
                    <div class="alert alert-warning mt-2"><
                    <h3>{{ elements.title }}</h3>
                    <h3>{{ elements.quantity }}</h3>
                    </div>
            {% endfor %}
        {% else %}
            <p3>Записей нет</p3>
        {% endif %}
    <h3>Создать новую позицию</h3>
    <form method="post">
        {%  csrf_token %}
        {{ form.equip }}
        {{ form.quantity}}
        {{ form.approved_by_manager }}
        {{ form.delivered }}
        <input type="text" placeholder="Введите название" class="form-row"><br>
        <input type="number" placeholder="0" class="toggle-nav-sidebar"><br>
        <input type="number" placeholder="0" class="toggle-nav-sidebar"><br>
        <input type="number" placeholder="0" class="toggle-nav-sidebar"><br>
        <button type="submit" class="button">Отправить</button><br>
    </form>

    </body>
{% endblock %}
